/*MysticJump*/
.id-28366137>.badge-box>i.bdg, #chat-messages .fromID-28366137 .bdg {
    background-image: url("http://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28366137 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("http://i.imgur.com/NoWltA5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Marihuana you tube*/
.id-28209493>.badge-box>i.bdg, #chat-messages .fromID-28209493 .bdg {
    background-image: url("https://image.spreadshirtmedia.net/image-server/v1/mp/compositions/T905A461PA1890PT26X39Y0D133174831S24/views/1,width=300,height=300,appearanceId=461,backgroundColor=E8E8E8/marihuana-lisc-rainbow-czapka-typu-snapback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#user-rollover.id-28209493 .badge-box>i.bdg {
    border-radius: 6px;
    background-image: url("https://image.spreadshirtmedia.net/image-server/v1/mp/compositions/T905A461PA1890PT26X39Y0D133174831S24/views/1,width=300,height=300,appearanceId=461,backgroundColor=E8E8E8/marihuana-lisc-rainbow-czapka-typu-snapback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
